Repository alex-v08/ProjectoDH: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, deploy

.gitlab-ci.yml:

image: node:18.16

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

build:
  stage: build
  rules:
    - changes:
        - Frontend/**/*
  script:
    - cd Frontend
    - npm install
    - npm run-script build
  artifacts:
    paths:
      - Frontend/.next

deploy:
  stage: deploy
  image: python:3.8
  rules:
    - changes:
        - Frontend/**/*
        - .gitlab-ci.yml
  before_script:
    - apt-get update && apt-get install -y awscli
  variables:
    AWS_DEFAULT_REGION: us-east-2
  script:
    - mkdir -p ok_hosts/.ssh
    - echo "$EC2_PEM_PRIVATE_KEY" > ok_hosts/.ssh/id_rsa
    - chmod 600 ok_hosts/.ssh/id_rsa
    - ssh-keyscan -H $EC2_PUBLIC_IP >> ok_hosts/.ssh/known_hosts
    - scp -o "StrictHostKeyChecking yes" -i ok_hosts/.ssh/id_rsa -r Frontend ubuntu@$EC2_PUBLIC_IP:~
    - ssh -i ok_hosts/.ssh/id_rsa ubuntu@$EC2_PUBLIC_IP 'pm2 delete all'
    - ssh -i ok_hosts/.ssh/id_rsa ubuntu@$EC2_PUBLIC_IP 'rm -r deploy/'
    - ssh -i ok_hosts/.ssh/id_rsa ubuntu@$EC2_PUBLIC_IP 'mv Frontend/ deploy/'
    - ssh -i ok_hosts/.ssh/id_rsa ubuntu@$EC2_PUBLIC_IP 'cd deploy/ && npm install'
    - ssh -i ok_hosts/.ssh/id_rsa ubuntu@$EC2_PUBLIC_IP 'pm2 start npm --name "next" -- run-script start'
    - ssh -i ok_hosts/.ssh/id_rsa ubuntu@$EC2_PUBLIC_IP 'sudo systemctl restart nginx'

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: deploy

caracteristicas
  Backend/crudproduct/.idea/sonarlint/issuestore/index.pb
  Backend/crudproduct/.idea/sonarlint/securityhotspotstore/index.pb
  Backend/crudproduct/crud/src/main/resources/application.properties
  Backend/crudproduct/crud/src/main/resources/application.yml
  Backend/crudproduct/crud/src/main/resources/oceanWings.p12
Due: none

producto
  Backend/crudproduct/crud/src/main/java/com/oceanwinds/crud/entity/Product.java
Due: none

Crossorigin
  Backend/crud-user/src/main/java/com/oceanwinds/crud_user/controller/UserController.java
  Backend/crud-user/src/main/java/com/oceanwinds/crud_user/entity/User.java
  Backend/crud-user/src/main/java/com/oceanwinds/crud_user/entity/dto/UserDto.java
  Backend/crud-user/src/main/java/com/oceanwinds/crud_user/service/UserService.java
  Backend/crud-user/src/main/resources/application.properties
  Backend/crud-user/src/main/resources/firebase_config.json
Due: none

backend monolitico
  Backend/src/main/java/com/oceanwinds/user/controller/UserController.java
  Backend/src/main/java/com/oceanwinds/user/entity/User.java
  Backend/src/main/java/com/oceanwinds/user/repository/UserRepository.java
  Backend/src/main/java/com/oceanwinds/user/service/UserService.java
Due: none

unificado | CI/CD
  Backend/src/main/resources/application.properties
Due: none

package-lock
  Frontend/package-lock.json
Due: build, deploy

refactor product
  Backend/docker-compose.yaml
  Backend/src/main/java/com/oceanwinds/product/controller/ProductController.java
  Backend/src/main/java/com/oceanwinds/product/entity/Product.java
  Backend/src/main/java/com/oceanwinds/product/repository/ProductRepository.java
  Backend/src/main/java/com/oceanwinds/product/service/ProductService.java
  Backend/src/main/java/com/oceanwinds/user/entity/User.java
  Backend/src/main/java/com/oceanwinds/user/entity/dto/UserDto.java
  Backend/src/main/java/com/oceanwinds/user/service/UserService.java
  Backend/src/main/resources/application.properties
Due: none

Refactor Category
  Backend/src/main/java/com/oceanwinds/category/entity/Category.java
  Backend/src/main/java/com/oceanwinds/category/entity/dto/CategoryDto.java
Due: none

refactor all project backend
  Backend/Dockerfile
  Backend/src/main/java/com/oceanwinds/feature/entity/Feature.java
  Backend/src/main/resources/application.properties
Due: none

ap
  Backend/src/main/resources/application.properties
Due: none

Attribute active
  Backend/src/main/java/com/oceanwinds/user/entity/User.java
  Backend/src/main/java/com/oceanwinds/user/entity/dto/UserDto.java
  Backend/src/main/java/com/oceanwinds/user/service/UserService.java
Due: none

update env and endpoints
  Frontend/.env
  Frontend/app/administracion/page.jsx
  Frontend/app/administracion/rows/rowUser.jsx
  Frontend/package-lock.json
Due: build, deploy

agregadas las politicas al detalle de producto
  Frontend/app/detail/[id]/page.jsx
  Frontend/components/screens/search/CardDetailSearch.jsx
Due: build, deploy

Parsing error: Cannot find module 'next/babel'
  Frontend/.eslintrc.json
Due: build, deploy

agrego npm run dev a la raiz
  package.json
Due: none

Agrego el listado de iconos para Maxi
  Frontend/components/util/icons.jsx
Due: build, deploy

user attribute Active Account
  Backend/src/main/java/com/oceanwinds/user/entity/User.java
  Backend/src/main/java/com/oceanwinds/user/entity/dto/UserDto.java
  Backend/src/main/java/com/oceanwinds/user/service/UserService.java
Due: none

update env slactic ip
  Frontend/.env
Due: build, deploy

PI-152-estetica-form-de-login
  Frontend/app/login/page.jsx
  Frontend/app/register/page.jsx
  Frontend/components/header/UserDropDown.jsx
  Frontend/next.config.js
  Frontend/public/form/h2-luxury01.jpg
  Frontend/public/form/h2-luxury02.jpg
  Frontend/public/form/h2-luxury03.jpg
Due: build, deploy

refactor yatch to product
  Frontend/app/api/products/route.jsx
  Frontend/app/api/products/search/route.jsx
  Frontend/app/page.jsx
Due: build, deploy

agregamos comentarios al front
  Frontend/app/detail/[id]/page.jsx
  Frontend/public/avatar.png
Due: build, deploy

favorites - no guarda
  Backend/src/main/java/com/oceanwinds/favorites/controller/FavoritesController.java
  Backend/src/main/java/com/oceanwinds/favorites/entity/Favorites.java
  Backend/src/main/java/com/oceanwinds/favorites/repository/FavoritesRepository.java
  Backend/src/main/java/com/oceanwinds/favorites/service/FavoritesService.java
  Backend/src/main/java/com/oceanwinds/product/entity/Product.java
  Backend/src/main/java/com/oceanwinds/user/controller/UserController.java
  Backend/src/main/java/com/oceanwinds/user/entity/User.java
  Backend/src/main/java/com/oceanwinds/user/service/UserService.java
Due: none

Agregué la función quitar rol de administrador
  Frontend/.env
  Frontend/app/administracion/page.jsx
  Frontend/app/administracion/rows/rowUser.jsx
  Frontend/package-lock.json
  Frontend/package.json
Due: build, deploy

2do merge
  Frontend/package-lock.json
Due: build, deploy
